## https://linuxize.com/post/gitignore-ignoring-files-in-git/
# files anywhere
.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store

# random files
my_index.*

# folders
bam/
bam_align/
db/
fastqc_dir/
metadata/
packrat/
rawcounts/
references/
reports-deseq/
results/
scripts/old/
._rna-seq-cSBRT.Rproj
